insert into sys_permission (code, name)
values
('{{B_I_Z}}', '{{ comment  }}'),
('{{B_I_Z}}__VIEW', '{{ comment  }}:查看'),

       ('{{B_I_Z}}__EDIT', '{{ comment  }}:编辑'),
       ('{{B_I_Z}}__DELETE', '{{ comment  }}:删除');