insert into sys_permission (id, code, name)
values (4, '{{B_I_Z}}__VIEW', '{{ comment  }}:查看'),
       (5, '{{B_I_Z}}__EDIT', '{{ comment  }}:编辑'),
       (6, '{{B_I_Z}}__DELETE', '{{ comment  }}:删除');