package com.haishi.admin.{{package}}.entity;

import com.haishi.admin.system.entity.User;
import jakarta.persistence.*;
import jakarta.validation.constraints.NotNull;
import jakarta.validation.constraints.Size;
import lombok.Getter;
import lombok.Setter;
import org.hibernate.annotations.ColumnDefault;

@Getter
@Setter
@Entity
@Table(name = "r_{{biz}}")
public class {{Biz}} {
    @Id
    @GeneratedValue(strategy = GenerationType.AUTO)
    @Column(name = "id", nullable = false)
    private Long id;

    @Size(max = 255)
    @Column(name = "{{biz}}", nullable = false)
    private String {{biz}};

    @Column(name = "status", nullable = false)
    private Short status;

    @ColumnDefault("false")
    @Column(name = "proxy_shortlink")
    private Boolean proxyShortlink = false;

    @ManyToOne(fetch = FetchType.LAZY)
    @JoinColumn(name = "owner_id")
    private User owner;

    @ManyToOne(fetch = FetchType.LAZY)
    @JoinColumn(name = "server_id")
    private Server server;

}