package com.haishi.admin.{{package}}.mapper;

import com.haishi.admin.{{package}}.dto.{{Biz}}DTO;
import com.haishi.admin.{{package}}.entity.{{Biz}};
import org.mapstruct.*;

import java.util.List;

@Mapper(
        unmappedTargetPolicy = ReportingPolicy.IGNORE,
        componentModel = MappingConstants.ComponentModel.SPRING
)
public interface {{Biz}}Mapper {

    {{Biz}}DTO to{{Biz}}DTO({{Biz}} {{biz}});

    {{Biz}} to{{Biz}}({{Biz}}DTO {{biz}}DTO);

    List<{{Biz}}> to{{Biz}}List(List<{{Biz}}DTO> {{biz}}DTOList);

    List<{{Biz}}DTO> to{{Biz}}DTOList(List<{{Biz}}> {{biz}}List);

    @InheritConfiguration
    @BeanMapping(nullValuePropertyMappingStrategy = NullValuePropertyMappingStrategy.IGNORE)
    {{Biz}} partialUpdate({{Biz}}DTO {{biz}}DTO, @MappingTarget {{Biz}} {{biz}});

    {{Biz}} copy({{Biz}} {{biz}});

    {{Biz}} idToEntity(Long id);
}