package com.haishi.admin.{{package}}.dto;


import java.io.Serializable;

/**
 * DTO for {@link com.haishi.admin.{{package}}.entity.{{Biz}}}
 */
public record {{Biz}}DTO(Long id) implements Serializable {
}