package com.haishi.admin.{{ package }}.dto;

import com.haishi.admin.{{ package }}.entity.{{ Biz }};
import com.haishi.admin.common.dto.PageDTO;
import io.swagger.v3.oas.annotations.media.Schema;
import lombok.Data;

/**
 * DTO for {@link {{ Biz }}}
 */
@Data
@Schema(description = "{{ comment }}查询对象")
public class {{ Biz }}QueryDTO extends PageDTO<{{ Biz }}> {
}
