package com.haishi.admin.{{package}}.dao;

import com.haishi.admin.{{package}}.entity.{{ Biz }};
import org.springframework.data.repository.CrudRepository;
import org.springframework.data.repository.PagingAndSortingRepository;

public interface {{ Biz }}Repository extends PagingAndSortingRepository<{{ Biz }}, Long>, CrudRepository<{{ Biz }}, Long> {
}