package com.haishi.admin.{{package}}.dto;

import lombok.Data;

import java.io.Serializable;

/**
 * DTO for {@link com.haishi.admin.{{package}}.entity.{{Biz}}}
 */
@Data
public class {{Biz}}DTO implements Serializable {
    Long id;
}