insert into sys_permission (code, name)
values
('{{BIZ}}', '{{comment}}'),
('{{BIZ}}__VIEW', '{{comment}}:查看'),

       ('{{BIZ}}__EDIT', '{{comment}}:编辑'),
       ('{{BIZ}}__DELETE', '{{comment}}:删除');