package com.haishi.admin.{{package}}.dto;

import jakarta.validation.constraints.Size;
import lombok.Data;

import java.io.Serializable;

/**
 * DTO for {@link com.haishi.admin.{{package}}.entity.{{Biz}}}
 */
@Data
public class {{Biz}}DTO implements Serializable {
    Long id;
    @Size(max = 255)
    private String {{biz}};
    private Short status;
    private Boolean proxyShortlink = false;
    private Long ownerId;
    private String ownerNickname;
    private Long serverId;
    private String serverIp;
    private String serverName;
}