package com.haishi.admin.{{package}}.mapper;

import com.haishi.admin.{{package}}.dto.{{Biz}}DTO;
import com.haishi.admin.{{package}}.entity.{{Biz}};
import com.haishi.admin.system.dto.UserMapper;
import org.mapstruct.*;

import java.util.List;

@Mapper(
        unmappedTargetPolicy = ReportingPolicy.IGNORE,
        componentModel = MappingConstants.ComponentModel.SPRING,
        nullValuePropertyMappingStrategy = NullValuePropertyMappingStrategy.IGNORE,
        nullValueMappingStrategy = NullValueMappingStrategy.RETURN_NULL,
        nullValueIterableMappingStrategy = NullValueMappingStrategy.RETURN_NULL,
        nullValueMapMappingStrategy = NullValueMappingStrategy.RETURN_NULL,
        uses = {ServerMapper.class, UserMapper.class}
)
public interface {{Biz}}Mapper {

    {{Biz}} to{{Biz}}({{Biz}}DTO {{biz}}DTO);

    @InheritInverseConfiguration(name = "to{{Biz}}")
    {{Biz}}DTO to{{Biz}}DTO({{Biz}} {{biz}});


    List<{{Biz}}> to{{Biz}}List(List<{{Biz}}DTO> {{biz}}DTOList);

    List<{{Biz}}DTO> to{{Biz}}DTOList(List<{{Biz}}> {{biz}}List);

    @InheritConfiguration(name = "to{{Biz}}")
    @BeanMapping(nullValuePropertyMappingStrategy = NullValuePropertyMappingStrategy.IGNORE)
    {{Biz}} partialUpdate({{Biz}}DTO {{biz}}DTO, @MappingTarget {{Biz}} {{biz}});

    {{Biz}} copy({{Biz}} {{biz}});

}