package com.haishi.admin.{{package}}.mapper;

import com.haishi.admin.{{package}}.dto.{{Biz}}DTO;
import com.haishi.admin.{{package}}.entity.{{Biz}};
import com.haishi.admin.system.dto.UserMapper;
import org.mapstruct.*;

import java.util.List;

@Mapper(
        unmappedTargetPolicy = ReportingPolicy.IGNORE,
        componentModel = MappingConstants.ComponentModel.SPRING,
        uses = {ServerMapper.class, UserMapper.class}
)
public interface {{Biz}}Mapper {

    @Mapping(source = "server.name", target = "serverName")
    @Mapping(source = "server.ip", target = "serverIp")
    @Mapping(source = "server.id", target = "serverId")
    @Mapping(source = "owner.nickname", target = "ownerNickname")
    @Mapping(source = "owner.id", target = "ownerId")
    {{Biz}}DTO to{{Biz}}DTO({{Biz}} {{biz}});

    @Mapping(source = "serverId", target = "server")
    @Mapping(source = "ownerId", target = "owner")
    {{Biz}} to{{Biz}}({{Biz}}DTO {{biz}}DTO);

    List<{{Biz}}> to{{Biz}}List(List<{{Biz}}DTO> {{biz}}DTOList);

    List<{{Biz}}DTO> to{{Biz}}DTOList(List<{{Biz}}> {{biz}}List);

    @InheritConfiguration
    @BeanMapping(nullValuePropertyMappingStrategy = NullValuePropertyMappingStrategy.IGNORE)
    {{Biz}} partialUpdate({{Biz}}DTO {{biz}}DTO, @MappingTarget {{Biz}} {{biz}});

    {{Biz}} copy({{Biz}} {{biz}});

    {{Biz}} idToEntity(Long id);
}